:root {
  --branding-color: hsla(0, 0%, 0%, 1);
  --secondary-color: hsla(0, 0%, 100%, 1);
  --font-family: "Anton", serif;
}

h1,
h2 {
  font-family: var(--font-family);
  font-weight: bold;
}

li {
  display: inline;
  list-style: none;
}
li a {
  text-decoration: none;
}

a {
  color: var(--branding-color);
}
